<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://blog.yzq.gay/" target="_blank"
    >
      我的博客
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://love.yzq.gay/" target="_blank"
    >
      情侣小站
    </a>
    {import.meta.env.PARTNER_LINK && import.meta.env.PARTNER_LINK_TITLE && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE}
        </a>
      </>
    )}
  </p>
</footer>
